<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<login-template></login-template>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>
		const auth = {
			login: function(id,pass) {
				window.alert(`userid:${id} password;${pass}`);
			}
		}

		Vue.component('login-template',{
			data: function() {
				return {
					userid:'',
					password:''
				}
			},
			template: `
			<div>
				<input type="text" v-model="userid" placeholder="ユーザー名">
				<input type="password" v-model="password" placeholder="パスワード">
				<button @click="login">ログイン</button>
			</div>
			`,
			methods: {
				login: function() {
					auth.login(this.userid,this.password);
				}
			}
		});

		new Vue({
			el: '#app'
		});

	</script>
</body>
</html>
