<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
<div id="Myapp">

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
 const app = new Vue({
	 data:function(){
		return {
			answer:null
		}
	 },
	 template:
	 `
	 <div>
		<p>あなたはVue.jsを好きになってきている？</p>
		<p>あなたが選んだ答えは{{answer}}</p>
	 	<button @click="setAnswer(true)">○</button>
		<button @click="setAnswer(false)">×</button>
		<p v-if="answer === true">正解です</p>
		<p v-if="answer === false">不正解です</p>
	 </div>
	 `,
	 methods:{
		 setAnswer(value) {
			 this.$data.answer = value;
		 }
	 }
 });

 app.$mount('#Myapp');

</script>
</body>
</html>
